@charset "UTF-8";
body {
  background-color: #f0f2f5;
  color: #050505;
}

.--theme-dark {
  background-color: #21252b;
  color: #ffffff;
}

a {
  color: #3e7bfa;
}

.a-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  height: 3.5rem;
  box-sizing: border-box;
  z-index: 1;
}

.a-nav__logo {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  padding: 0.5rem;
}

.a-nav__logo-link {
  display: block;
  box-sizing: border-box;
  height: 100%;
  font-size: 1.5rem;
}

.a-nav__logo-image {
  height: 100%;
}

.a-nav__menu {
  list-style-type: none;
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  transition: right 0.2s ease-in-out;
}

.a-nav__menu-item-expand, .a-nav__menu-item {
  position: relative;
  height: 100%;
  float: left;
  cursor: pointer;
}

.a-nav__menu-item-text, .a-nav__menu-item-link {
  text-decoration: none;
  position: relative;
  color: inherit;
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  height: 100%;
  display: block;
  box-sizing: border-box;
  min-width: 6rem;
  text-align: center;
}

.a-nav__menu-item-text:hover, .a-nav__menu-item-link:hover {
  background-color: #e7ebf2;
}

.a-nav__menu-item-text {
  padding-right: 1.5rem;
}

.a-nav__menu-item-text::after {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  content: "❯";
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.a-nav__menu-item-sub-menu {
  display: block;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 300px;
  display: none;
  box-sizing: border-box;
  opacity: 0;
}

.a-nav__menu-item-expand.expanded .a-nav__menu-item-text {
  background-color: #dde1ec;
}

.a-nav__menu-item-expand.expanded .a-nav__menu-item-sub-menu {
  display: block;
}

.a-nav__menu-item-expand.expanded .a-nav__menu-item-text::after {
  transform: rotate(270deg);
}

.a-nav__menu-button {
  background-color: red;
  float: right;
  height: 3.5rem;
  width: 3.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-size: 1.2rem;
  color: inherit;
  display: none;
}

.button_bar-1, .button_bar-2, .button_bar-3 {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #050505;
  margin: 6px auto;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}

/*.a-nav__menu-button::before{
   content: map-get(var.$html-entity, "tribars"  );
   display: block;
   transition: all 0.2s ease-in-out; 
}*/
.a-nav__menu-button:hover {
  background-color: #e7ebf2;
}

@media screen and (max-width: 992px) {
  .a-nav--collapse-lg .a-nav__menu {
    position: fixed;
    top: 3.5rem;
    right: -300px;
    bottom: 0;
    padding: 0;
    overflow-y: auto;
    width: 300px;
    height: unset;
    background-color: inherit;
  }

  .a-nav--collapse-lg .a-nav__menu-item, .a-nav--collapse-lg .a-nav__menu-item-expand {
    height: unset;
    float: none;
  }

  .a-nav--collapse-lg .a-nav__menu-item, .a-nav--collapse-lg .a-nav__menu-item-expand {
    height: unset;
    float: none;
  }

  .a-nav--collapse-lg .a-nav__menu-item-sub-menu {
    position: relative;
    right: unset;
    box-shadow: none;
    background-color: #e7ebf2;
    border-radius: unset;
  }

  .a-nav--collapse-lg .a-nav__menu-button {
    display: block;
  }

  .a-nav--collapse-lg.show-menu .a-nav__menu {
    right: 0;
  }

  .a-nav--collapse-lg.show-menu .button_bar-1 {
    transform: rotate(45deg) translate(8px, 6px);
  }

  .a-nav--collapse-lg.show-menu .button_bar-2 {
    opacity: 0;
  }

  .a-nav--collapse-lg.show-menu .button_bar-3 {
    transform: rotate(-45deg) translate(8px, -6px);
  }

  .--theme-dark .a-nav--collapse-lg .a-nav__menu-item-sub-menu {
    background-color: #373b40;
  }
}
@media screen and (max-width: 768px) {
  .a-nav--collapse-md .a-nav__menu {
    position: fixed;
    top: 3.5rem;
    right: -300px;
    bottom: 0;
    padding: 0;
    overflow-y: auto;
    width: 300px;
    height: unset;
    background-color: inherit;
  }

  .a-nav--collapse-md .a-nav__menu-item, .a-nav--collapse-md .a-nav__menu-item-expand {
    height: unset;
    float: none;
  }

  .a-nav--collapse-md .a-nav__menu-item, .a-nav--collapse-md .a-nav__menu-item-expand {
    height: unset;
    float: none;
  }

  .a-nav--collapse-md .a-nav__menu-item-sub-menu {
    position: relative;
    right: unset;
    box-shadow: none;
    background-color: #e7ebf2;
    border-radius: unset;
  }

  .a-nav--collapse-md .a-nav__menu-button {
    display: block;
  }

  .a-nav--collapse-md.show-menu .a-nav__menu {
    right: 0;
  }

  .a-nav--collapse-md.show-menu .button_bar-1 {
    transform: rotate(45deg) translate(8px, 6px);
  }

  .a-nav--collapse-md.show-menu .button_bar-2 {
    opacity: 0;
  }

  .a-nav--collapse-md.show-menu .button_bar-3 {
    transform: rotate(-45deg) translate(8px, -6px);
  }

  .--theme-dark .a-nav--collapse-md .a-nav__menu-item-sub-menu {
    background-color: #373b40;
  }
}
@media screen and (max-width: 576px) {
  .a-nav--collapse-sm .a-nav__menu {
    position: fixed;
    top: 3.5rem;
    right: -300px;
    bottom: 0;
    padding: 0;
    overflow-y: auto;
    width: 300px;
    height: unset;
    background-color: inherit;
  }

  .a-nav--collapse-sm .a-nav__menu-item, .a-nav--collapse-sm .a-nav__menu-item-expand {
    height: unset;
    float: none;
  }

  .a-nav--collapse-sm .a-nav__menu-item, .a-nav--collapse-sm .a-nav__menu-item-expand {
    height: unset;
    float: none;
  }

  .a-nav--collapse-sm .a-nav__menu-item-sub-menu {
    position: relative;
    right: unset;
    box-shadow: none;
    background-color: #e7ebf2;
    border-radius: unset;
  }

  .a-nav--collapse-sm .a-nav__menu-button {
    display: block;
  }

  .a-nav--collapse-sm.show-menu .a-nav__menu {
    right: 0;
  }

  .a-nav--collapse-sm.show-menu .button_bar-1 {
    transform: rotate(45deg) translate(8px, 6px);
  }

  .a-nav--collapse-sm.show-menu .button_bar-2 {
    opacity: 0;
  }

  .a-nav--collapse-sm.show-menu .button_bar-3 {
    transform: rotate(-45deg) translate(8px, -6px);
  }

  .--theme-dark .a-nav--collapse-sm .a-nav__menu-item-sub-menu {
    background-color: #373b40;
  }
}
.--theme-dark .a-nav {
  background-color: #2c3036;
}

.--theme-dark .a-nav__menu-item-link:hover, .--theme-dark .a-nav__menu-item-text:hover {
  background-color: #373b40;
}

.--theme-dark .a-nav__menu-item-sub-menu {
  background-color: #2c3036;
}

.--theme-dark .a-nav__menu-button:hover {
  background-color: #373b40;
}

.--theme-dark .a-nav__menu-item-expand.expanded .a-nav__menu-item-text {
  background-color: #42454a;
}

.--theme-dark .button_bar-1, .--theme-dark .button_bar-2, .--theme-dark .button_bar-3 {
  background-color: #ffffff;
}

.a-btn {
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  border: none;
  min-width: 6rem;
  cursor: pointer;
  background-color: #d1d7e5;
}

.a-btn:hover {
  background-color: #dde1ec;
}

.a-btn:focus {
  background-color: #b9c3d8;
  box-shadow: rgba(239, 239, 239, 0.25) 0px 1px 4px, rgba(239, 239, 239, 0.25) 0px 0px 0px 3px;
}

.a-btn:disabled {
  background-color: #dde1ec;
  cursor: no-drop;
}

.active.a-btn {
  background-color: #d7d7d7;
}

.a-btn--big {
  height: 3rem;
  font-size: 1.2rem;
}

.a-btn--block {
  display: block;
  width: 100%;
}

.a-btn--primary {
  background-color: #3e7bfa;
  color: white;
}

.a-btn--primary:hover {
  background-color: #5288fb;
}

.a-btn--primary:focus {
  background-color: #457cee;
  box-shadow: rgba(62, 123, 250, 0.25) 0px 1px 4px, rgba(62, 123, 250, 0.25) 0px 0px 0px 3px;
}

.a-btn--primary:disabled {
  background-color: #5b8ffb;
  color: rgba(255, 255, 255, 0.25);
}

.a-btn--primary.active {
  background-color: #386ee1;
}

.a-btn--secondary {
  background-color: #555770;
  color: white;
}

.a-btn--secondary:hover {
  background-color: #66687f;
}

.a-btn--secondary:focus {
  background-color: #595b72;
  box-shadow: rgba(85, 87, 112, 0.25) 0px 1px 4px, rgba(85, 87, 112, 0.25) 0px 0px 0px 3px;
}

.a-btn--secondary:disabled {
  background-color: #6e7085;
  color: rgba(255, 255, 255, 0.25);
}

.a-btn--secondary.active {
  background-color: #4c4e65;
}

.a-btn--dark {
  background-color: #2d3035;
  color: white;
}

.a-btn--dark:hover {
  background-color: #42454a;
}

.a-btn--dark:focus {
  background-color: #35383d;
  box-shadow: rgba(45, 48, 53, 0.25) 0px 1px 4px, rgba(45, 48, 53, 0.25) 0px 0px 0px 3px;
}

.a-btn--dark:disabled {
  background-color: #747474;
  color: rgba(255, 255, 255, 0.25);
}

.a-btn--dark.active {
  background-color: #282b30;
}

.a-btn--guava {
  background-color: #06c270;
  color: white;
}

.a-btn--guava:hover {
  background-color: #1fc87f;
}

.a-btn--guava:focus {
  background-color: #12bb72;
  box-shadow: rgba(6, 194, 112, 0.25) 0px 1px 4px, rgba(6, 194, 112, 0.25) 0px 0px 0px 3px;
}

.a-btn--guava:disabled {
  background-color: #54d19b;
  color: rgba(255, 255, 255, 0.25);
}

.a-btn--guava.active {
  background-color: #05ae65;
}

.a-btn--apple {
  background-color: #ff3b3b;
  color: white;
}

.a-btn--apple:hover {
  background-color: #ff4f4f;
}

.a-btn--apple:focus {
  background-color: #f24242;
  box-shadow: rgba(255, 59, 59, 0.25) 0px 1px 4px, rgba(255, 59, 59, 0.25) 0px 0px 0px 3px;
}

.a-btn--apple:disabled {
  background-color: #ff8282;
  color: rgba(255, 255, 255, 0.25);
}

.a-btn--apple.active {
  background-color: #e53535;
}

.a-btn--mango {
  background-color: #ffac13;
  color: white;
}

.a-btn--mango:hover {
  background-color: #ffb42b;
}

.a-btn--mango:focus {
  background-color: #f2a81e;
  box-shadow: rgba(255, 172, 19, 0.25) 0px 1px 4px, rgba(255, 172, 19, 0.25) 0px 0px 0px 3px;
}

.a-btn--mango:disabled {
  background-color: #ffcb6a;
  color: rgba(255, 255, 255, 0.25);
}

.a-btn--mango.active {
  background-color: #e59a11;
}

.--theme-dark .a-btn {
  background-color: #4b4f54;
  color: inherit;
}

.--theme-dark .a-btn:hover {
  background-color: #42454a;
}

.--theme-dark .a-btn:focus {
  background-color: #56595e;
}

.--theme-dark .a-btn:disabled {
  background-color: #42454a;
  cursor: no-drop;
}

.--theme-dark .a-btn--primary {
  background-color: #3e7bfa;
  color: white;
}

.--theme-dark .a-btn--primary:hover {
  background-color: #5288fb;
}

.--theme-dark .a-btn--primary:focus {
  background-color: #457cee;
  box-shadow: rgba(62, 123, 250, 0.25) 0px 1px 4px, rgba(62, 123, 250, 0.25) 0px 0px 0px 3px;
}

.--theme-dark .a-btn--primary:disabled {
  background-color: #5b8ffb;
  color: rgba(255, 255, 255, 0.25);
}

.--theme-dark .a-btn--primary.active {
  background-color: #386ee1;
}

.--theme-dark .a-btn--secondary {
  background-color: #555770;
  color: white;
}

.--theme-dark .a-btn--secondary:hover {
  background-color: #66687f;
}

.--theme-dark .a-btn--secondary:focus {
  background-color: #595b72;
  box-shadow: rgba(85, 87, 112, 0.25) 0px 1px 4px, rgba(85, 87, 112, 0.25) 0px 0px 0px 3px;
}

.--theme-dark .a-btn--secondary:disabled {
  background-color: #6e7085;
  color: rgba(255, 255, 255, 0.25);
}

.--theme-dark .a-btn--secondary.active {
  background-color: #4c4e65;
}

.--theme-dark .a-btn--dark {
  background-color: #2d3035;
  color: white;
}

.--theme-dark .a-btn--dark:hover {
  background-color: #42454a;
}

.--theme-dark .a-btn--dark:focus {
  background-color: #35383d;
  box-shadow: rgba(45, 48, 53, 0.25) 0px 1px 4px, rgba(45, 48, 53, 0.25) 0px 0px 0px 3px;
}

.--theme-dark .a-btn--dark:disabled {
  background-color: #747474;
  color: rgba(255, 255, 255, 0.25);
}

.--theme-dark .a-btn--dark.active {
  background-color: #282b30;
}

.--theme-dark .a-btn--guava {
  background-color: #06c270;
  color: white;
}

.--theme-dark .a-btn--guava:hover {
  background-color: #1fc87f;
}

.--theme-dark .a-btn--guava:focus {
  background-color: #12bb72;
  box-shadow: rgba(6, 194, 112, 0.25) 0px 1px 4px, rgba(6, 194, 112, 0.25) 0px 0px 0px 3px;
}

.--theme-dark .a-btn--guava:disabled {
  background-color: #54d19b;
  color: rgba(255, 255, 255, 0.25);
}

.--theme-dark .a-btn--guava.active {
  background-color: #05ae65;
}

.--theme-dark .a-btn--apple {
  background-color: #ff3b3b;
  color: white;
}

.--theme-dark .a-btn--apple:hover {
  background-color: #ff4f4f;
}

.--theme-dark .a-btn--apple:focus {
  background-color: #f24242;
  box-shadow: rgba(255, 59, 59, 0.25) 0px 1px 4px, rgba(255, 59, 59, 0.25) 0px 0px 0px 3px;
}

.--theme-dark .a-btn--apple:disabled {
  background-color: #ff8282;
  color: rgba(255, 255, 255, 0.25);
}

.--theme-dark .a-btn--apple.active {
  background-color: #e53535;
}

.--theme-dark .a-btn--mango {
  background-color: #ffac13;
  color: white;
}

.--theme-dark .a-btn--mango:hover {
  background-color: #ffb42b;
}

.--theme-dark .a-btn--mango:focus {
  background-color: #f2a81e;
  box-shadow: rgba(255, 172, 19, 0.25) 0px 1px 4px, rgba(255, 172, 19, 0.25) 0px 0px 0px 3px;
}

.--theme-dark .a-btn--mango:disabled {
  background-color: #ffcb6a;
  color: rgba(255, 255, 255, 0.25);
}

.--theme-dark .a-btn--mango.active {
  background-color: #e59a11;
}

.a-alert-container {
  position: fixed;
  bottom: 0;
  width: 350px;
  box-sizing: border-box;
  padding: 0.5rem;
  z-index: 999;
}

.a-alert {
  position: relative;
  background-color: #ffffff;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-left: 0.5rem solid #b9c3d8;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 0.5rem 0;
}

.a-alert__header {
  text-align: end;
  padding: 0.2rem;
  border-bottom: 1px solid #e7ebf2;
}

.a-alert__close-btn {
  background-color: #e7ebf2;
  color: #828282;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.a-alert__close-btn::before {
  content: "✖";
}

.a-alert__close-btn:hover {
  background-color: #dde1ec;
}

.a-alert__body {
  position: relative;
  padding: 0.5rem;
}

.a-alert__title {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  color: inherit;
}

.a-alert__message {
  display: block;
  color: #444444;
}

.a-alert--success {
  border-left: 0.5rem solid #06c270;
}

.a-alert--success .a-alert__title {
  color: #06c270;
}

.a-alert--danger {
  border-left: 0.5rem solid #ff3b3b;
}

.a-alert--danger .a-alert__title {
  color: #ff3b3b;
}

.a-alert--warning {
  border-left: 0.5rem solid #ffac13;
}

.a-alert--warning .a-alert__title {
  color: #ffac13;
}

.--theme-dark .a-alert {
  background-color: #2c3036;
  border-left: 0.5rem solid #56595e;
}

.--theme-dark .a-alert__header {
  text-align: end;
  padding: 0.2rem;
  border-bottom: 1px solid #373b40;
}

.--theme-dark .a-alert__close-btn {
  background-color: #373b40;
  color: #7f7f7f;
}

.--theme-dark .a-alert__message {
  display: block;
  color: #bfbfbf;
}

.--theme-dark .a-alert__close-btn:hover {
  background-color: #42454a;
}

.--theme-dark .a-alert--success {
  border-left: 0.5rem solid #06c270;
}

.--theme-dark .a-alert--danger {
  border-left: 0.5rem solid #ff3b3b;
}

.--theme-dark .a-alert--warning {
  border-left: 0.5rem solid #ffac13;
}

/*# sourceMappingURL=atdc.css.map */
